<div class="footer__content">
  <div class="footer__box">
    <p class="footer__team-name">Made by </p>
    <img src="./images/footer_logo/me_logo.png" alt="command logo" class="command_logo">
  </div>
  <a href="#home" class="scroll-up">
    <i class="material-icons material-icons-white">keyboard_arrow_up</i>
  </a>
</div>