<div class="footer__content">
  <p class="footer__team-name">Made by GroupName</p>
  <a href="#home" class="scroll-up">
      <i class="material-icons material-icons-white">keyboard_arrow_up</i>
  </a>
</div>