<nav class="navigation">
  <a href="#" class="logotip"><span class="logotip__text">Filmoteka</span></a>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#" class="navigation__link">HOME</a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link">MY LIBRARY</a>
    </li>
  </ul>
</nav>