<nav class="navigation">
  <a href="#" id="home" class="logotip js-logo">
     <i class="material-icons material-icons-color md-40">theaters</i>
      <span class="logotip__text">Filmoteka</span></a>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#" class="navigation__link js-home" autofocus >HOME</a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link js-myLibrary">MY LIBRARY</a>
    </li>
  </ul>
</nav>
