<nav class="navigation">
  <a href="#" id="home" class="logotip js-logo">
    <i class="material-icons material-icons-color md-40">theaters</i>
    <span class="logotip__text">Filmoteka</span></a>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#" class="navigation__link js-home" autofocus>
        <img src="./filmoteka/images/user_form/icon_home.png" alt="home icon" class="navigation__icon">
        <span>HOME</span>  
      </a>
      
    </li>

    <li class="navigation__item">      
      <a href="#" class="navigation__link js-myLibrary visually-hidden">
        <img src="./filmoteka/images/user_form/icon_lib.png" alt="library icon" class="navigation__icon">
        <span>MY LIBRARY</span>
      </a>
    </li>

    <li class="navigation__item item-js-user" data-type="button-user">      
      <a href="#" class="navigation__link item-js-user_link">
        <img src="./filmoteka/images/user_form/enter.png" alt="login icon" class="navigation__icon">
        <span>login</span>
      </a>
    </li>
  </ul>
</nav>