<div class="pagination-wrap">
    <div class="pagination">
        <button class="button button-prev pagination__btn">Prev</button>
        <span class="page pagination__btn" id="page"></span>
        <button class="button button-next pagination__btn">Next</button>
    </div>
</div>