<form class="form-search">
    <div class="form-search__wrap">
        <i class="material-icons form-search__icon">search</i>
        <input type="search" name="query" autocomplete="off" class="form-search__input"
            placeholder="Write movie name and click Enter">
        <p class="requirements form-search__requirements is-hidden">No movies were found. Check your
            query!</p>
    </div>
</form>