<ul class="home-page-list">
    <li class="home-page-list_item" data-itemId="{{}}">
        <div class="item-overlov">
        </div>
        <span class="home-page-list_item-rateblock" data-itemRate="item-rate">{{}}</span>
        <h2 class="home-page-list_item-title">{{}}}}</h2>
        <img src="{{}}" alt="{{}}" class="home-page-list_item-image">

    </li>
</ul>