<div class="library-btn-wrap">
    <div class="container library-buttons">
        <button class='watched library-btn'>Watched</button>
        <button class='queue library-btn'>Queue</button>
    </div>
</div>