.footer {
  background-color: $main-color;
  margin-top: auto;
  &__content {
    display: flex;
    @include font-settings($size: 1rem, $height: 1, $color: $font-color);
    padding: 36px 0px;
    // background-color: $main-color;
    text-align: center;
  }
  &__box {
    margin: 0 10px 0 auto;

    @media screen and (min-width: $tablet-bp-min) {
      margin: 0 154px 0 auto;
    }
    @media screen and (min-width: $desktop-bp-min) {
      margin: 0  auto;
    }
  }
}

.scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: $main-color;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
  border-radius: 50%;

  @media (min-width: $tablet-bp-max) {
    display: none;
  }

  @media screen and (max-width: $mobile-bp-max) {
    right: 5px;
    width: 40px;
    height: 40px;
  }
}

.material-icons-white {
  color: white;
}

.command_logo {
  @media screen and (min-width: $tablet-bp-min) {
    max-width: 300px;
  }
  max-width: 200px;
  margin: 0 auto;
}
