.footer {
  background-color: $main-color;
  margin-top: auto;
  &__content {
    position: relative;
    @include font-settings($size: 1rem, $height: 1, $color: $font-color);
    padding: 36px 0px;
    // background-color: $main-color;
    text-align: center;
  }
}

.scroll-up {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: $main-color;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
  border-radius: 50%;

  @media (min-width: $tablet-bp-max) {
    display: none;
  }
}

.material-icons-white {
  color: white;
}