.form-user {
  display: flex;
  justify-content: flex-start;
  min-width: 300px;
  width: 300px;
  flex-wrap: wrap;
  margin: 0 auto 1.875rem;
  &_input {
    padding-left: 10px;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;

    border-radius: 15px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    // outline: none;
    &:focus {
      background-color: #ffd969;
      border-color: #000;
      outline: none !important;
    }
  }
  &_button-submit {
    background-color: $btn-effect-color;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 0.5rem;
  }
}
