.header {
  background-color: $main-color;
}

.logotip {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    @include font-settings(
      $size: 1.25rem,
      $weight: 500,
       // Добавить в переменые
      $color: rgba(55, 44, 72, 0.86)
    );

    @media (max-width: $mobile-bp-max) {
      display: none;
    }
  }
}

.material-icons-color {
  color: $font-color;
}

.material-icons.md-40 {
  font-size: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  // background-color: $main-color;

  &__list {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
  }

  &__item {
    padding: 14px 20px 20px 20px;

    &:first-child {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__link {
    @include font-settings(
      $size: 0.875rem,
      $weight: 500,
      $color: $font-color-alfa-70
    );
    outline:none;
    position: relative;
    text-transform: uppercase;

    transition: color 200ms linear;

    &::after {
      position: absolute;
      left: 50%;
      display: block;
      bottom: -20px;
      content: '';
      width: 0;
      height: 3px;
      // Добавить в переменые
      background-color: rgba(55, 44, 72, 1);
      transform: translateX(-50%);
      transition: all 200ms linear;
    }

    &:active,
    &:hover,
    &:focus {
      // Добавить в переменые
      color: rgba(55, 44, 72, 1);
    }
    &:active::after,
    &:hover::after,
    &:focus::after {
      width: 100px;
    }

    &--active{
      &::after{
      width: 100px;
      // Добавить в переменые
      color: rgba(55, 44, 72, 1);
      }
    }  
  }
}
