.section__home-page {
  @media screen and (max-width: $mobile-bp-max) {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  @media screen and (min-width: $tablet-bp-min) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.home-page-list {
  @media screen and (min-width: $tablet-bp-min) {
    justify-content: flex-start;
  }
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_item {
    width: 300px;
    height: 156px;
    background-color: red;
    border-radius: 1rem;
    @media screen and (max-width: $mobile-bp-max) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: $tablet-bp-min) {
      width: 344px;
      height: 156px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &:nth-child(odd) {
        margin-right: 24px;
      }
    }
    @media screen and (min-width: $desktop-bp-min) {
      width: 465px;
      height: 244px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:nth-child(odd) {
        margin-right: 31px;
      }
    }
  }
}

.form-search {
  position: relative;
  margin: 0 auto;
  width: 257px;

  &__input {
    border: none;
    outline: none;
    border-bottom: 2px solid #818181;
    width: 100%;
    padding-left: 40px;

    &::placeholder {
      font-size: 14.4px;
      font-family: 'Myriad Pro';
      color: rgb(0, 0, 0);
      line-height: 14.4;
    }
  }

  &__icon {
    position: absolute;
    width: 17px;
    height: 17px;
    color: #818181;
  }

  &__requirements {
    max-height: 200px;
    padding: 0 30px 20px 50px;
    // padding: 0 30px 0 50px;
    color: #999;
    // max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
    &.is-hidden {
      display: none;
    }
  }
}
