.section__my-film-library-page .container {
  padding-top: 13px;
}

.library-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.library-btn {
  @include font-settings(1rem, 1, 400, rgb(0, 0, 0));
  letter-spacing: 0.01rem;
  width: 140px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #9c99a5;
  background-color: transparent;
  cursor: pointer;

  &--active {
    color: #fff;
    background-color: $main-color;
    border: none;
  }

  &:focus {
    outline: none;
  }
}

.library-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $tablet-bp-min) {
    justify-content: start;
  }
}

.home-page-list_item-rateblock {
  box-shadow: inset 0px 0px 2.79px 0.21px rgba(0, 0, 0, 0.35),
    inset 0px 0px 2.64px 1.36px rgba(0, 0, 0, 0.35);
}

// .item-overlov,
// .home-page-list_item-title,
// .home-page-list_item-image,
// .home-page-list_item-rateblock {
//   pointer-events: none;
// }

// .library-item {
//   position: relative;
//   width: 300px;
//   height: 156px;
//   background-color: red;
//   border-radius: 1rem;

//   @media screen and (max-width: $mobile-bp-max) {
//     &:not(:last-child) {
//       margin-bottom: 10px;
//     }
//   }
//   @media screen and (min-width: $tablet-bp-min) {
//     width: 344px;
//     height: 156px;
//     &:not(:last-child) {
//       margin-bottom: 15px;
//     }
//     &:nth-child(odd) {
//       margin-right: 24px;
//     }
//   }
//   @media screen and (min-width: $desktop-bp-min) {
//     width: 465px;
//     height: 244px;
//     &:not(:last-child) {
//       margin-bottom: 20px;
//     }
//     &:nth-child(odd) {
//       margin-right: 31px;
//     }
//   }

//   &__image {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     border-radius: 0.8rem;
//   }

//   &__title {
//     @include font-settings(0.7688rem, 1.2, 500, rgb(255, 255, 255));
//     position: absolute;
//     bottom: 10px;
//     left: 10px;
//     font-family: $first-font;
//     @media screen and (min-width: $tablet-bp-min) {
//       font-size: 0.8875rem;
//     }
//     @media screen and (min-width: $desktop-bp-min) {
//       bottom: 21px;
//       left: 14px;
//       font-size: 1.2194rem;
//     }
//   }
//   &__rating {
//     @include font-settings(0.7969rem, 1.35, 500, rgb(0, 0, 0));
//     position: absolute;
//     top: 10px;
//     right: 10px;

//     font-family: $first-font;
//     text-align: center;

//     width: 31px;
//     height: 17px;
//     background-color: #fff;
//     border-radius: 6px;

//     box-shadow: inset 0px 0px 2.79px 0.21px rgba(0, 0, 0, 0.35),
//       inset 0px 0px 2.64px 1.36px rgba(0, 0, 0, 0.35);

//     @media screen and (min-width: $tablet-bp-min) {
//       font-size: 0.9394rem;
//       border-radius: 10px;
//       width: 37px;
//       height: 20px;
//     }
//     @media screen and (min-width: $desktop-bp-min) {
//       font-size: 1.2719rem;
//       width: 49px;
//       height: 27px;
//     }
//   }
// }
