:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.lightbox {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
  overflow: auto;
  z-index: 999;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  margin: 0 auto;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  transition: transform var(--animation-duration) var(--timing-function);
  max-width: 768px;
  top: 3%;
}

.team-title {
  max-width: 600px;
  margin: 0 auto;
  &::after {
    content: '';
    display: block;
    max-width: 80%;
    height: 4px;
    background-color: rgb(180, 0, 0);
    margin: 0 auto;
    margin-top: 5px;
  }

  &__img {
    margin: 0 auto;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
  max-width: 728px;
  margin: 0 auto;
}

.team-item {
  width: 200px;
  // padding: 0 20px;
  margin-bottom: 30px;

  &__img {
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s linear;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name-block {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &__position {
    text-align: center;
  }
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/close_icon.png');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: transform 0.3s linear;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.1);
  transform: rotate(90deg) scale(1.1);
}
