html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $first-font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  // clip-path: inset(100%);
  margin: -1px;
  font-size: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.br {
  display: block;
  line-height: inherit;
  letter-spacing: inherit;
}

.container {
  margin: 0 auto;
  @media screen and (max-width: $mobile-bp-max) {
    width: $mobile-w;
  }
  @media screen and (min-width: $tablet-bp-min) {
    width: $tablet-w;
  }
  @media screen and (min-width: $desktop-bp-min) {
    width: $desktop-w;
  }
}

.display-none {
  display: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
