// FONTS
$first-font: 'Roboto', 'Arial', sans-serif;
$second-font: 'DroidSans', 'Arial', sans-serif;

// FONT COLORS
$font-color: rgb(55, 44, 72);
$font-color-alfa-70: rgba(55, 44, 72, 0.7);
$font-color-alfa-54: rgba(55, 44, 72, 0.54);

// COLORS
$main-color: rgb(119, 193, 187);
$main-color-alfa-60: rgba(119, 193, 187, 0.6);

// MEDIA mobile
$mobile-width: 320px;
$mobile-width-max: 767px;
$mobile-breakpoint: 340px;

// MEDIA tablet
$tablet-width: 768px;
$tablet-width-max: 1023px;
$tablet-breakpoint: 788px;

// MEDIA desktop
$desktop-width: 1024px;
$desktop-breakpoint: 1044px;
